body {
  margin: 0;
  padding: 0;
}

h2,
h3 {
  margin: 10px;
  font-size: 18px;
}

h3 {
  font-size: 16px;
}

p {
  margin: 10px;
}

/**
* Create a position for the map
* on the page */
#map {
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
  width: 100%;
}

/**
* Set rules for how the map overlays
* (information box and legend) will be displayed
* on the page. */
.open-sans-test {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
  font-variation-settings: "wdth" 100;
}
.map-overlay {
  position: absolute;
  bottom: 0;
  right: 0;
  background: #fff;
  margin-right: 20px;
  font-family: open-sans-test;
  overflow: auto;
  border-radius: 3px;
}

#features {
  top: 0;
  height: 150px;
  margin-top: 10px;
  width: 400px;
  overflow: auto;
}

#legend {
  white-sapce:normal;
  padding: 5px 10px 5px 10px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
  line-height: 30px;
  height: 120px;
  bottom: 10px;
  width: 270px;
}
.legend-key {
  display: inline;
  border-radius: 20%;
  width: 20px;
  height: 20px;
  padding: 5px;
}
.mapboxgl-ctrl-geocoder {
  width: 280px !important;
}